@model IEnumerable<MvcVideoStoreProject.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    
}

@*<ul>
    @foreach (var product in Model)
    {

        <li>
            @product.Genre.Name
        </li>
    }
</ul>*@

<article id="content">
            <section class="half" id="left">
                <h2>SPECIALS</h2>
                <ul class="catalog">
                    
                @foreach (var product in Model)
                {
                    <li>
                        
                            @* @Html.ActionLink("","Details", new { id = product.ProductId})*@
                        <a href='@Url.Action("Details", "Home", new {title = product.Title})'><img src="@Url.Content(@product.ProductArtUrl)" class="small_movie" /></a>
                        @*<br />*@
                        <a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a>

                    </li>
                }
                        
                </ul>
            </section>
            <br />
            <section class="half" id="right">
                <h2>RECOMMENDATIONS</h2>
                <ul class="catalog">
                    
                @foreach (var product in Model)
                {
                    <li>
                        
                            
                        <a href='@Url.Action("Details", "Home", new {title = product.Title})'><img src="@Url.Content(@product.ProductArtUrl)" class="small_movie" /></a>
                        @*<br />*@
                        <a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a>

                    </li>
                }
                </ul>
            </section>
        </article>




